Area Code,Japanese Area Name,English Area Name,not used,Japanese Prefecture Name,Account for Advisories in Japanese,Account for Warnings in Japanese,Account for Emergency Warnings in Japanese,Account for Advisories in English,Account for Warnings in English,Account for Emergency Warnings in English,Tags in Japanese(separated by space),Tags in English(separated by space)
